.accordion-item {
  background-color: #f1f0f0;
  color: #003462;
  border-radius: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  padding: 0.9375rem 1.4375rem;
  transition: all 0.3s ease;
  border: none;
  width: 100%;
}

.accordion-item:hover {
  background-color: #e0e0e0;
}

.accordion-body {
  padding: 0;
  padding-top: 0.625rem;
}

.accordion-button {
  width: 100%;
  text-align: start;
  background: none;
  font-size: 1.25rem;
  color: $color-blue;
  padding: 0;
}

.accordion-button:not(.collapsed) {
  background: none;
  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border: none;
  background: none;
}

.accordion-button::after {
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem;
  filter: invert(54%) sepia(85%) saturate(1470%) hue-rotate(353deg)
    brightness(101%) contrast(101%);
}

.course-accordion-item{
  border: 0.625px solid $color-blue;
  color: #003462;
  border-radius: 0.9375rem;
  margin-bottom: 0.625rem;
  font-size: 1.25rem;
  padding: 0.9375rem 1.4375rem;
  transition: all 0.3s ease;
  width: 100%;
}
