.gap-30{
    gap: 1.875rem;
}

.gap-40{
    gap: 2.5rem;
}

.gap-25{
    gap: 1.5625rem;
}

.gap-10{
    gap: 0.625rem;
}

.m-bottom-2{
    margin-bottom: 2%;
}

.mb-40{
    margin-bottom: 2.5rem;
}

.mb-4{
    margin-bottom: 0.9375rem !important;
}

.mb-20{
    margin-bottom: 1.25rem;
}

.mb-0{
    margin-bottom: 0;
}

.text-orange{
    color: $color-orange;
}

.text-white{
    color: white;
}

.text-blue{
    color: $color-blue;
}

.semibold-text {
  font-weight: 600;
}

.font-18{
    font-size: 1.125rem;
}
