.gap-30{
    gap: 3rem;
}

.gap-40{
    gap: 4rem;
}

.gap-25{
    gap: 2.5rem;
}

.gap-10{
    gap: 1rem;
}

.m-bottom-2{
    margin-bottom: 2%;
}

.mb-40{
    margin-bottom: 4rem;
}

.mb-20{
    margin-bottom: 2rem;
}

.mb-0{
    margin-bottom: 0;
}

.text-orange{
    color: $color-orange;
}

.text-white{
    color: white;
}

.text-blue{
    color: $color-blue;
}

.semibold-text {
  font-weight: 600;
}

.font-18{
    font-size: 1.8rem;
}
