.modal-content {
  padding: 2.5rem 2.5rem;
  border-radius: 0.9375rem;
}

.modal {
  --bs-modal-width: 58.75rem;
}

.btn-close {
  width: 1.25rem;
  height: 1.25rem;
  background-size: 1.25rem;
  filter: invert(12%) sepia(38%) saturate(1473%) hue-rotate(183deg)
    brightness(83%) contrast(101%);
  opacity: 0.8;
  --bs-btn-close-focus-shadow: none;
}

.btn-close:hover {
  filter: invert(12%) sepia(38%) saturate(1473%) hue-rotate(183deg)
    brightness(83%) contrast(101%);
  opacity: 0.8;
}

.modal-header {
  border: none;
}

.modal-info-hours {
  background-color: #f1f0f0;
  color: $color-blue;
  border-radius: 0.9375rem;
  padding: 0.5rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.download-course {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 500;
  cursor: pointer;
  color: $color-blue;
}

.modal-course-description {
  font-size: 1.25rem;
  font-weight: 500;
  color: $color-blue;
  max-width: 70%;
}

.modal-section-title {
  color: $color-orange;
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.aud-item {
  background-color: $color-light-blue;
  border-radius: 0.9375rem;
  color: white;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.5rem 0.5rem;
}

.modal-text {
  font-size: 1.25rem;
  color: $color-blue;
  margin-bottom: 0.625rem;
}

.modal-advantage {
  padding: 1.875rem 0.625rem 0.625rem 0.625rem;
}

.certificate-img {
  width: 40%;
}

@media (max-width: 730px){
  .advantage-modal-text{
    font-size: 1.0897rem;
  }
}

@media (max-width: 576px){
  .modal-advantage{
    padding: 3.20512rem 0.6410rem 0.6410rem 0.6410rem;
  }
  .advantage-modal-text{
    font-size: 1.28205rem;
  }
}

@media (max-width: 500px){
  .modal-advantage{
    padding: 2.56410rem 0.6410rem 0.6410rem 0.6410rem;
  }
  .advantage-modal-text{
    font-size: 1.08974rem;
  }
  .modal-course-description{
    max-width: 100%;
  }
}

@media (max-width: 420px){
  .modal-advantage{
    padding: 1.92307rem 0.6410rem 0.6410rem 0.6410rem;
  }
}
