footer {
  background-color: $color-title;
  flex: 0 0 auto;
}

.section-footer {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 1.25rem 0rem;
}

.footer-text {
  color: white;
  font-size: 1.125rem;
}

.footer-center-text {
  text-align: center;
  margin-top: 0.625rem;
}

@media (max-width: 576px) {
  .section-footer {
    padding: 7px;
  }
}
