footer {
  background-color: $color-title;
}

.section-footer {
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 2rem 0rem;
}

.footer-text {
  color: white;
  font-size: 1.8rem;
}

.footer-center-text {
  text-align: center;
  margin-top: 1rem;
}