.header-nav{
    background-color: $color-blue;
    border-radius: 0.9375rem;
    width: 100%;
    padding: 1.0625rem 1.5rem;
    max-height: 3.4375rem;
}

.header-nav-link {
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 500;
}

.header-icon{
    width: 1.375rem;
    cursor: pointer;
}

.icon-btn{
  background: none;
  border: none;
}

.popover-menu{
  display: flex;
  flex-direction: column;
  font-size: 0.9375rem;
}

.popover-menu a{
  text-decoration: none;
  color: $color-blue;
}

.popover {
    border: 1px solid #e0e0e0;
    border-radius: 0.9375rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 730px){
  .header-logo{
    width: 100px;
  }
  .header-nav-link{
    font-size: 1.60256rem;
  }
  .header-icon{
    width: 1,6666rem;
  }
  .header-nav{
    max-height: 3.84615rem;
  }
}