.homework-section {
  border-radius: $border-radius;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.homework-section-item {
  background-color: white;
  border-radius: $border-radius;
  padding: 10px;
}

.homework-section-title {
  margin: 0 0 5px 0;
  padding: 0;
  color: $color-orange;
  font-size: 20px;
}

.homework-section-download {
  display: flex;
  gap: 15px;
}

.homework-item-left {
  width: 40%;
}

.download-homework {
  word-break: break-all;
}

.howework-btn-group {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.homework-btn-blue {
  background-color: $color-blue;
}

.homework-btn-blue:hover {
  background-color: $color-blue;
}

.homework-download-icon {
  width: 18px;
}

.homwork-page-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-homework-title {
  display: flex;
  gap: 15px;
}

.sent-homework-arrow {
  padding-top: 9px;
}

.title-with-icon {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.title-with-icon h2 {
  font-weight: 700;
  max-width: 350px;
}

.sent-homework-text {
  color: $color-blue;
  max-width: 600px;
  text-align: center;
  margin: 10px auto;
}

.text-orange {
  color: $color-orange;
}

@media (max-width: 1150px) {
  .homework-section-title {
    font-size: 18px;
  }
  .homework-item-left {
    width: 45%;
  }
}

@media (max-width: 992px) {
  .homework-section-title {
    font-size: 16px;
  }
  .homework-item-left {
    width: 50%;
  }
  .icon-check-homework {
    width: 80px;
  }
  .sent-homework-text {
    max-width: 450px;
  }
}

@media (max-width: 730px) {
  .homework-section-download {
    flex-direction: column;
  }
  .homework-item-left {
    width: 100%;
  }
  .icon-check-homework {
    width: 70px;
  }
  .title-with-icon {
    gap: 15px;
    margin-top: 10px;
  }
  .title-with-icon h2 {
    max-width: 250px;
  }
}

@media (max-width: 470px){
  .sent-homework-text{
    max-width: 380px;
  }
  .title-with-icon h2 {
    max-width: 220px;
  }
}
