.homework-section {
  border-radius: $border-radius;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

.homework-section-item {
  background-color: white;
  border-radius: $border-radius;
  padding: 10px;
}

.homework-section-title {
  margin: 0 0 5px 0;
  padding: 0;
  color: $color-orange;
  font-size: 20px;
}

.homework-section-download {
  display: flex;
  gap: 15px;
}

.homework-item-left {
  width: 40%;
}

.download-homework {
  word-break: break-all;
}

.howework-btn-group {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.homework-btn-blue {
  background-color: $color-blue;
}

.homework-btn-blue:hover {
  background-color: $color-blue;
}

.homework-download-icon {
  width: 18px;
}

.homwork-page-title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.main-homework-title {
  display: flex;
  gap: 15px;
}

.sent-homework-arrow {
  padding-top: 9px;
}

.title-with-icon {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.title-with-icon h2 {
  font-weight: 700;
  max-width: 350px;
}

.sent-homework-text {
  color: $color-blue;
  max-width: 600px;
  text-align: center;
  margin: 10px auto;
}

.text-orange {
  color: $color-orange;
}

.comment-textarea {
  border: none;
  border-radius: $border-radius;
  min-height: 100px;
  padding: 10px;
}

.comment-textarea:focus {
  border: 2px solid $color-blue;
  outline: none;
}

.comment-btn {
  display: block;
  max-width: 270px;
  margin: 0 auto;
}

.comment {
  border: 2px solid #8ba7bf;
  padding: 15px;
  border-radius: $border-radius;
  margin-bottom: 20px;
  width: 60%;
}

.comment-right {
  margin-left: auto;
}

.comment-image{
  max-width: 80%;
  margin: 10px auto 0 auto;
  display: block;
}

.user-comment {
  font-size: 20px;
  color: $color-orange;
  font-weight: 600;
}

.user-comment-date {
  font-size: 18px;
  color: $color-blue;
  font-weight: 200;
}

.comment-text {
  font-size: 18px;
  color: $color-blue;
  margin-top: 20px;
}

.comment-title {
  margin-bottom: 20px;
}

.file-homework-title {
  margin-bottom: 10px;
}

.file-homework {
  color: $color-blue;
}

.file-homework-form {
  margin-bottom: 15px;
  margin-top: 15px;
}

.comment-of-student {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #dee2e6;
  border-radius: $border-radius;
  padding: 12px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.comment-of-student:focus {
  outline: none;
  border-color: $color-blue;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.separator {
  border: none;
  height: 2px;
  background-color: $color-blue;
  margin: 20px 0;
}

.attached-files{
  border-radius: $border-radius;
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.download-item-wrapper{
  border-radius: $border-radius;
  background-color: white;
  padding: 10px;
}

.accept-btn{
  margin: 20px auto 0 auto;
}

@media (max-width: 1150px) {
  .homework-section-title {
    font-size: 18px;
  }
  .homework-item-left {
    width: 45%;
  }
  .homework-section h3,
  .comment-title {
    font-size: 20px;
  }
  .user-comment {
    font-size: 18px;
  }
  .user-comment-date {
    font-size: 16px;
  }
  .comment-text {
    font-size: 16px;
    margin-top: 15px;
  }
}

@media (max-width: 992px) {
  .homework-section-title {
    font-size: 16px;
  }
  .homework-item-left {
    width: 50%;
  }
  .icon-check-homework {
    width: 80px;
  }
  .sent-homework-text {
    max-width: 450px;
  }
  .separator {
    height: 1px;
  }
}

@media (max-width: 730px) {
  .homework-section-download {
    flex-direction: column;
  }
  .homework-item-left {
    width: 100%;
  }
  .icon-check-homework {
    width: 70px;
  }
  .title-with-icon {
    gap: 15px;
    margin-top: 10px;
  }
  .title-with-icon h2 {
    max-width: 250px;
  }
  .user-comment {
    font-size: 16px;
  }
  .user-comment-date {
    font-size: 12px;
  }
  .comment-text {
    font-size: 14px;
  }
  .homework-section {
    padding: 15px;
  }
}

@media (max-width: 470px) {
  .sent-homework-text {
    max-width: 380px;
  }
  .title-with-icon h2 {
    max-width: 180px;
    font-size: 16px;
  }
  .comment {
    width: 80%;
    margin-bottom: 10px;
  }
  .icon-check-homework {
    width: 50px;
  }
  .title-with-icon {
    gap: 15px;
    margin-top: 20px;
  }
  .sent-homework-text, .file-homework-title, .comment-btn{
    font-size: 12px;
  }
  .main-homework-title p{
    font-size: 12px;
  }
}
