html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: $color-blue;
  line-height: normal;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.main-section-1 {
  background-image: url(../img/main.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  aspect-ratio: 1261/502;
}

.main-header-logo {
  padding: 0.5%;
  border-radius: $border-radius;
  display: inline-block;
  margin: 2% 2% 0 2%;
  background-color: white;
}

nav {
  padding: 1.6rem 2.4rem;
  background-color: white;
  border-radius: $border-radius;
  margin-top: 4.3rem;
  width: 54%;
  max-height: 5.5rem;
  margin-right: 5%;
  box-sizing: border-box;
}

.nav li:last-child {
  margin-left: auto;
}

nav li {
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: $color-blue;
  font-size: 1.8rem;
  font-weight: 500;
}

.text-license {
  color: $color-blue;
  font-size: 1.6rem;
  font-weight: 500;
  width: 25%;
  margin-top: 4rem;
  line-height: normal;
}

.main-title {
  color: white;
  font-size: 3.7rem;
  width: 65rem;
  font-weight: 700;
  margin-left: 2.5rem;
}

.main-subtitle {
  margin-left: 2%;
  color: white;
  font-size: 2.2rem;
  margin-top: 0.5rem;
  font-weight: 500;
}

.btn-wrapper {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 2%;
  margin-right: 2%;
  text-decoration: none;
}

.main-btn {
  @include arrow-orange-btn;
  padding: 1.4rem 4.4rem;
}

.main-btn:hover {
  background-color: $color-hover-orange;
}

.section-title {
  color: $color-title;
  font-size: 3.7rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

.card-about-us-1 {
  @include card-about-us;
  background-image: url(../img/main/rectangle1.png);
}

.card-about-us-2 {
  @include card-about-us;
  background-image: url(../img/main/rectangle2.png);
}

.card-about-us-text {
  color: white;
  font-size: 2rem;
}

.block-title {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-us-right {
  margin-left: 2rem;
}

.section-about-us-text {
  font-size: 2rem;
  font-weight: 500;
  width: 95%;
  margin-bottom: 4rem;
}

.benefits-image {
  max-width: 58.7rem;
}

.courses-cards-wrapper {
  display: flex;
  gap: 1%;
  flex-wrap: wrap;
  width: 100%;
}

.course-card {
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 620/332;
  padding: 1.5rem 2.6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 49%;
  margin-bottom: 1%;
}

.course-card-title {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 35.8rem;
  margin-bottom: 0.1rem;
}

.course-card-hours {
  font-size: 1.6rem;
  font-weight: 500;
}

.course-card-text {
  font-size: 1.7rem;
  font-weight: 500;
  max-width: 36rem;
  margin-bottom: 1.5rem;
}

.card-1 {
  background-image: url(../img/cards/card1.png);
}

.card-2 {
  background-image: url(../img/cards/card2.png);
}

.card-3 {
  background-image: url(../img/cards/card3.png);
}

.card-4 {
  background-image: url(../img/cards/card4.png);
}

.card-5 {
  background-image: url(../img/cards/card5.png);
}

.card-6 {
  background-image: url(../img/cards/card6.png);
}

.section-advantages {
  background-image: url(../img/main/advantages.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1440/372;
  padding: 1.5rem 0 1.5rem 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-bottom: 4rem;
}

.advantage-orange {
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  background-image: url(../img/main/advantage1.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 300/115;
}

.advantage-blue {
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  background-image: url(../img/main/advantage2.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 300/115;
}

.section-education-text {
  font-size: 2rem;
  max-width: 98.5rem;
  margin-bottom: 1rem;
}

.title-education {
  margin-bottom: 0.5rem;
}

.certification-image {
  max-width: 40%;
  transition: transform 0.5s ease;
}

.certification-1:hover {
  transform: rotate(9deg);
}

.certification-2:hover,
.certification-3:hover {
  transform: rotate(-9deg);
}

.certification-text {
  font-size: 2rem;
  font-weight: 500;
  color: #003462;
}

.certification-wrapper {
  position: relative;
}

.certification-1-text {
  max-width: 52.9rem;
  position: absolute;
  left: 41%;
  bottom: 65%;
}

.certification-arrow-1 {
  position: absolute;
  left: 41%;
  bottom: 40%;
}

.certification-2 {
  position: absolute;
  right: 0;
}

.certification-2-text {
  max-width: 55.6rem;
  position: absolute;
  right: 13%;
  bottom: 100%;
}

.certification-arrow-2 {
  margin-left: 50%;
  margin-bottom: 5%;
}

.certification-3-text {
  position: absolute;
  left: 0;
  max-width: 49.8rem;
  bottom: 44.5rem;
}

.certification-arrow-3 {
  position: absolute;
  left: 43.1rem;
  bottom: 34rem;
}

.certification-wrapper-3 {
  top: 3.5rem;
}

.section-course-selection {
  background-image: url(../img/main/course-selection.png);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 1440/392;
  margin-top: 8rem;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.course-selection-wrapper {
  background-color: white;
  padding: 3% 4%;
  border-radius: 1.5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  gap: 3.5rem;
  margin: auto auto;
}

.course-selection-title {
  font-size: 2.7rem;
  font-weight: 700;
  margin-bottom: 0.2rem;
}

.course-selection-text {
  font-size: 2rem;
  max-width: 52.6rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 50%;
}

input,
select {
  border: #f1f0f0 1px solid;
  background-color: #f1f0f0;
  color: #496c8d;
  border-radius: 1.5rem;
  padding: 1.5rem 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  outline: none;
}

::placeholder {
  color: #496c8d;
}

input:focus {
  border: #496c8d 1px solid;
}

select {
  box-sizing: border-box;
  appearance: none;
  background-image: url(../img/svg/form-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 1.5rem center;
  background-size: 2rem;
}

option:checked {
  background-color: #496c8d;
  color: white;
}

.submit-btn {
  max-width: 19.8rem;
  margin: 0 auto;
}

.welder-image {
  max-width: 46rem;
  max-height: 57.4rem;
}

.section-questions-main {
  width: 100%;
}

@media (max-width: 1400px) {
  .benefits-image {
    width: 530px;
  }
  .text-license {
    font-size: 14px;
  }
  html {
    font-size: 60%;
  }
  nav {
    margin-top: 3.9rem;
    width: 53%;
    max-height: 5.5rem;
    margin-right: 5%;
    box-sizing: border-box;
  }
  .about-us-right {
    margin-left: 0;
  }
  .course-card {
    padding: 1rem 1.5rem;
  }
  .course-card-text {
    font-size: 14px;
  }
  .advantage-orange {
    padding: 30px 10px 10px 10px;
  }
  .advantage-blue {
    padding: 30px 10px 10px 10px;
  }
  .certification-arrow-3 {
    bottom: 300px;
  }
  .certification-2-text {
  right: 10%;
}
}

@media (max-width: 1150px) {
  .main-header-logo {
    width: 100px;
    height: 70px;
  }
  .logo {
    width: 90px;
  }
  nav {
    margin-top: 3.7rem;
  }
  .text-license {
    margin-top: 3rem;
    font-size: 12px;
  }
  html {
    font-size: 50%;
  }
  .course-card-text {
    font-size: 12px;
  }
  .certification-arrow-3 {
    bottom: 250px;
  }
  .certification-arrow-1 {
    bottom: 33%;
  }
}

@media (max-width: 992px) {
  .main-header-logo {
    width: 75px;
    height: 53px;
  }
  .logo {
    width: 65px;
  }
  html {
    font-size: 39%;
  }
  .text-license {
    margin-top: 4rem;
    font-size: 8px;
  }
  nav {
    margin-top: 3.8rem;
  }
  .benefits-image {
    width: 350px;
  }
  .course-card-text {
    font-size: 10px;
  }
  .course-card-title {
    font-size: 15px;
  }
  .advantage-orange {
    padding: 3rem 1rem 1rem 1rem;
  }
  .advantage-blue {
    padding: 3rem 1rem 1rem 1rem;
  }
  .advantage-text {
    font-size: 10px;
  }
  .certification-arrow-1,
  .certification-arrow-2,
  .certification-arrow-3 {
    width: 80px;
  }
  .certification-arrow-3 {
    bottom: 180px;
  }
}

@media (max-width: 806px) {
  .course-selection-wrapper {
    padding: 1% 2%;
  }
  .title-advantages {
    margin-bottom: 5px;
  }
}

@media (max-width: 753px) {
  .title-advantages {
    margin-bottom: 5px;
  }
}

@media (max-width: 730px) {
  .main-section-1 {
    background-image: url(../img/main/main-mini.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    aspect-ratio: 365/231;
    display: flex;
    flex-direction: column;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .text-license {
    position: absolute;
    left: 2%;
    bottom: 2%;
    width: 50%;
    max-width: 60%;
    margin-top: 0;
    font-size: 8px;
    order: 3;
    align-self: flex-start;
    margin-top: auto;
    color: white;
    font-size: 12px;
  }
  nav {
    width: 100%;
    margin-right: 2%;
    margin-top: 3.3rem;
  }
  .main-subtitle {
    margin-left: 2%;
  }
  .main-title {
    margin-left: 2%;
  }
  .courses-cards-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .course-card {
    width: 70%;
    margin: 7px auto;
    padding: 10px 15px;
  }
  .card-3 {
    order: 2;
  }
  .card-5 {
    order: 3;
  }
  .card-6 {
    order: 4;
  }
  .section-advantages {
    background-image: none;
    width: 100%;
    height: 100%;
    margin-bottom: 4rem;
    min-height: 250px;
  }
  .certification-arrow-2,
  .certification-arrow-1,
  .certification-arrow-3 {
    display: none;
  }
  .certification-2-text {
    bottom: 30px;
    right: 20px;
  }
  .certification-3-text {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .certification-wrapper {
    display: flex;
    justify-content: start;
    position: static;
    align-items: center;
    gap: 20px;
  }
  .certification-1-text {
    position: static;
  }
  .certification-2 {
    position: static;
  }
  .certification-2-text {
    position: static;
  }
  .certification-3-text {
    position: static;
  }
  .certification-wrapper-3 {
    top: 0px;
  }
  .section-course-selection {
    margin-top: 2rem;
  }
  .course-selection-wrapper {
    padding: 5px;
  }
  .course-selection-text {
    font-size: 10px;
  }
  input,
  select {
    padding: 5px 10px;
    font-size: 14px;
  }
  .submit-btn {
    padding: 8px 12px;
  }
  .welder-image {
    max-width: 220px;
    max-height: 274px;
  }
}

@media (max-width: 576px) {
  .course-card {
    width: 80%;
  }
  .section-course-selection {
    background-image: url(../img/main/course-selection-mini.png);
    aspect-ratio: 375/317;
    width: 100%;
    padding: 20px 0px;
    margin-bottom: 15px;
  }
  .course-selection-wrapper {
    flex-direction: column;
    gap: 15px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
  .course-selection-title {
    font-size: 20px;
  }
  .course-selection-text {
    font-size: 16px;
  }
  input,
  select {
    padding: 10px 20px;
    font-size: 16px;
  }
  form {
    gap: 8px;
    width: 100%;
  }
  .submit-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
  .advantage-main-card {
    background-image: none;
    background-color: $white;
    max-height: 50px;
    padding: 5px 5px;
    width: 100%;
    border-radius: 1rem;
    border: 1px solid $color-blue;
  }
}

@media (max-width: 466px) {
  .course-selection-title {
    font-size: 18px;
  }
  .course-selection-text {
    font-size: 14px;
  }
  .section-title {
    font-size: 20px;
  }
  .welder-image {
    display: none;
  }
}

@media (max-width: 450px) {
  .course-card {
    width: 100%;
  }
  .course-card-title {
    font-size: 3rem;
  }
  .course-card-hours {
    font-size: 2rem;
  }
  .course-card-text {
    font-size: 1.7rem;
    max-width: 42rem;
  }
}

@media (max-width: 430px) {
  .course-selection-text {
    font-size: 12px;
  }
  input,
  select {
    padding: 7px 10px;
    font-size: 12px;
  }
  form {
    gap: 5px;
    width: 100%;
  }
}

@media (max-width: 417px) {
  .course-card-title {
    font-size: 15px;
  }
  .course-card-text {
    font-size: 1.7rem;
    max-width: 39rem;
  }
}

@media (max-width: 400px) {
  .text-license {
    font-size: 10px;
    max-width: 160px;
  }
  .main-title {
    font-size: 20px;
  }
  nav {
    margin-top: 2.9rem;
  }
  .course-selection-title {
    font-size: 16px;
  }
  .logo {
    border-radius: 15px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 35%;
  }
  .course-card-text {
    max-width: 36rem;
  }
  .course-selection-wrapper {
    padding: 7px;
  }
  .certification-text {
    font-size: 1.6rem;
  }
  .main-btn {
    padding: 8px 15px;
  }
  .course-card {
    padding: 5px 10px;
  }
  .section-advantages {
    min-height: 260px;
  }
  .card-about-us-1, .card-about-us-2{
    min-width: 100%;
  }
}

@media (max-width: 350px) {
html {
    font-size: 33%;
  }
}

@media (max-width: 340px){
  .course-card-title{
    font-size: 12px;
  }
  .course-selection-text{
    font-size: 10px;
  }
  .course-selection-title{
    font-size: 14px;
  }
  .main-title{
    font-size: 18px;
  }
}
