@mixin orange-btn {
  background-color: $color-orange;
  border: none;
  border-radius: $border-radius;
  color: white;
  font-size: 1.125rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
}

@mixin arrow-orange-btn {
  @include orange-btn;
  display: flex;
  gap: 1.375rem;
}

@mixin card-about-us{
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 556/247;
  padding: 2.5rem 0.9375rem 0.9375rem 0.9375rem;
  max-width: 34.75rem;
  box-sizing: border-box;
  margin-bottom: 1.25rem;
}
