@mixin orange-btn {
  background-color: $color-orange;
  border: none;
  border-radius: $border-radius;
  color: white;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  align-items: center;
}

@mixin arrow-orange-btn {
  @include orange-btn;
  display: flex;
  gap: 2.2rem;
}

@mixin card-about-us{
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 556/247;
  padding: 4rem 1.5rem 1.5rem 1.5rem;
  max-width: 55.6rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
