.profile-settings-wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: 20px 0;
    align-items: center;
}

.img-rounded{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.profile-settings{
    width: 50%;
}

.profile-title{
    display: flex;
    gap: 20px;
    align-items: center;
}

