$enable-gradients: true;
$enable-shadows: true;

// Include functions first
@import "bootstrap/scss/functions";

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$color-blue: #003462;
$color-light-blue: #245077;
$color-orange: #F47A5B;
$color-hover-orange: #ED7A5C;
$color-title: #00274A;
$color-light-gray: #E9E8E8;
$border-radius: 1.5rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 730px,
  lg: 992px,
  xl: 1150px,
  xxl: 1400px
);



// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/bootstrap";


//
// Custom styles
//

@import "mixins";
@import "main";
@import "classes";
@import "accordion";
@import "footer";
@import "course-modal";
@import "header";
@import "person";
@import "course";
@import "sign_up";
@import "lesson";




